
.icon-lightbulb:before { content: '\e800'; } /* '' */
.icon-lightbulb-1:before { content: '\e801'; } /* '' */
.icon-crown-minus:before { content: '\e846'; } /* '' */
.icon-television:before { content: '\f26c'; } /* '' */